nav {
    padding: 20px;
    
}
body {
    margin: auto;
    width: 50%;
    background: url('https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg');
    background-size: cover;
    text-align: center;
}
#info {
    background-color: gray;
    /* display: flex;
    align-items: center; */
    text-align: center;
    width: 50%;
}
